---
import Section from "../Section.astro";
import { interests } from "@cv";
---

<Section className={Astro.props.className} title="Interests">
	<ul class="space-y-4 py-3 print:space-y-0">
		{
			interests.map(({ name, keywords }) => {

				return (
					<div class="flex flex-col gap-2">
						{interests && interests.length > 0 && (
							<div class="ml-7 md:ml-9">
								<h4 class="mb-1 text-sm font-medium text-skin-base">{name}</h4>
								<ul class="flex flex-col space-y-1 text-sm text-skin-muted">
									
									
								</ul>
							</div>
						)}
					</div>
				);
			})
		}
	</ul>
</Section